<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Cocktails </title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>

<body>
  <div class="wrapper">
    <h1>
      Cocktails
    </h1>
    <div class='alcoholList'>
      <ul class='alcohols'>
        <li class='alcohol'> <a href="/">ALL</a></li>
        <% alcoholList.forEach(elem => { %>
        <li class='alcohol'> <a href="/?alcohol=<%= elem %>">
            <%= elem %></a></li>
        <%  })   %>
      </ul>
    </div>

    <div class="container-fluid" style="margin-top: 10px">

      <div class="table-row header">
        <div class="text">Name</div>
        <div class="num">Price</div>
      </div>

      <div class="table-row">
        <% cocktails.forEach(elem => { %>
        <div class="text">
          <%= elem['name'] %>
          <% if (!elem['isAlcoholic']) {%>
          (non-alcoholic)
          <% } %>
          <br>
          <%= elem['contains'] %>
        </div>
        <div class="num">
          <%= elem['price'] %>
        </div>
        <%  }) 
      %>
      </div>
    </div>
  </div>
  </div>
</body>

</html>